# Игнорировать файлы и папки виртуальных окружений 
venv/
.venv/
env/
.env/

# Игнорировать файлы от PyCharm
.idea/

# Игнорировать файлы, создаваемые ОС
Thumbs.db
.DS_Store

# Игнорировать компилированные Python файлы
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы и папки, создаваемые IDE
.vscode/

# Игнорировать лог-файлы
*.log